:root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Playfair Display",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
    --bg-color: rgb(184, 160, 126);
    --acent-color: #303030;
    --light-color: #2b2b2b;
    --link-color: rgb(184, 160, 126);
  }


body{
    height: 100vh;
    font-family: var(--heading-font);
}
.hero{
    background:url(/assets/img/hero_images/file-dj9gqHZWKRnMBcD5RIADO8N1.webp);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    height: 100vh;
    border-image: fill 0 linear-gradient(#0003, #000000d6);
}
.hero-content{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
   
}
.hero-content h2{
font-size: 4rem;
color: #fff;
}
.hero-content h1{
font-size: 6rem;
color: #fff;
}
.hero-content p{
    color: #fff;
    font-size: 2rem;
}
.get-started{
    width: 20rem;
    height: 3rem;
    background: transparent;
    border-radius: 2px;
    border: 0;
    transition: all 500ms;
}
.get-started a{
    text-transform: capitalize;
    color: #fff;
}
.wrapper1{
    display: flex;
    flex-direction: row;
    /* background-color: red;  */
    gap: 10px;
}
.about{
    background-color: #f0f0f0;
}
.line1{
    width: 5rem;
    border: 2px solid #b8a07e;
}
.read-more{
    width: 15rem;
    height: 3rem;
    background: transparent;
    border:1px solid var(--link-color);
    text-transform: capitalize;
    transition: all 500ms;
}
.read-more:hover{
    background: var(--link-color);
    color: #fff;
}
.about-cont h2{
text-transform: capitalize;
font-weight: 800;
padding-bottom: 10px;
font-size: 3rem;
}
.about-cont h3{
    font-weight: bolder;
    font-size: 1rem;
}
.about-cont img{
    width: 100%;
}
.stats-wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* color: #fff; */
    border-radius: 5px;
    overflow: hidden;
}
.wrapper-cont i{
    font-size: 3rem;
    background-color: rgb(3, 98, 192);
    /* background: #b8a07e; */
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding: 5px;
    color: #fff;
}
.wrapper-cont{
    margin-top: 15px;
}
.stats-item{
    font-size: 2rem; 
    font-weight: normal;
}
.stats-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-cont{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    /* background-color: yellow; */
    width: 30rem;
    height: 30rem;
    /* flex-wrap: wrap; */
    position: relative;
}
.img,
.img2,
.img3,
.img4{
    width: 10rem;
    height: 10rem;
    margin: 1px;
    border-radius: 19px;
    position: absolute;
    /* overflow: hidden; */
}
.img{
    background-color: pink;
    left: 10%;
    top: 20%;
    overflow: hidden;
}
.img img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img2 img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img3 img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img4 img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img2{
    background-color: pink;
    left: 10%;
    top: 56%;
    width: 12rem;
    height: 12rem;
    overflow: hidden;
}
.img3{
    background-color: pink;
    left: 47%;
    top: 20%;
    width: 8rem;
    height: 8rem;
    overflow: hidden;
}
.img4{
    background-color: pink;
    left: 53%;
    top: 50%;
    /* width: 8rem;
    height: 8rem; */
    overflow: hidden;
}
.glimpse{
    width: 50%;
    text-transform: capitalize;
    /* background: red; */
    color: var(--acent-color);
}
.glimpse hr{
    width: 5rem;
    border: 2px solid #000000;
    background-color: var(--acent-color);
}
.glimpse h2{
    color: var(--acent-color);
}
.stats{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 10px;
    /* text-align: center; */
}
.stat-cont{
    color: var(--acent-color);
    /* text-align: center; */
}
.stat-cont h2{
font-weight: bolder;
color: var(--acent-color);
}
.cont{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: var(--acent-color);
    width: 100%;
    /* background-color: red; */
}
.conts h2{
font-size: 3em;
color: inherit;
}
.conts a{
    /* border: 1px solid var(--link-color); */
    width: 10em;
    text-align: center;
    right: 10rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    color: var(--link-color);
    text-transform: capitalize;
}
/* .conts a:hover{
    background: var(--link-color);
    color: #fff;
} */
.service-wrapper{
   position: relative;
   /* background-color: pink; */
   /* width: 100%; */
}

.service-img{
    object-fit: contain;
    object-position: center;
    /* width: 40rem;
    background: red; */
}
.more{
    text-transform: capitalize;
    font-size: 10px;
    padding: 5px;
    border-radius: 2px;
    color: var(--link-color);
    transition: all 500ms;
}
/* .more:hover{
    background: var(--link-color);
} */

.more i{
    margin-left: 9px;
    position: absolute;
    margin-top: 4px;
    animation: forward linear infinite 1s;
}
.mores i{
    position: absolute;
    margin-top: 3.2px;
    margin-left: 7px;
    animation: forward linear infinite 1s;
}
/* @keyframes forward {
    100%{
        margin-left: 2px;
    }
} */
.card{
    border: 0!important;
    box-shadow: 0 0 8px #cccccc7c;
    flex-shrink: 0;
    width: 250px ;
    /* left: 50% !important; */
    /* transform: translateX(-50%) !important; */
    position: relative !important;
}
.card-body{
    gap: 10px;
    /* width: 30rem; */
    /* background: #98e012; */
}
.wraps{
    /* background: #07c995; */
    gap: 5px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    overflow-x: auto;
    /* background: red; */
}
.service-content{
    display: flex;
    width: 10rem;
    /* background: #e20707; */
    height: 17rem;
    gap: 5px;
}
.quote-wrapper{
    display: flex;
    width: 100%;
    position: relative;
    gap: 10px;
}
.quote-content-r{
    width: 60%;
    position: inherit;
}
.quote-content-r h2{
    font-size: 1.5rem;
}
.quote-content-r p{
    font-size: 1.3rem;
}
.quote-content{
    /* background: #000; */
    width: 40%;
    padding: 10px;
    box-shadow: 0 0 8px #cccccc8e;
}
.quote-content h2{
    text-transform: capitalize;
    font-size: 1.5rem;
}
form{
    width: 100%;
    /* background: red; */
}
form>input{
    width: 100%;
    height: 4rem;
    margin-top: 10px;
    border-radius: 2px;
    outline: 0;
    padding: 10px;
    border: 1px solid var(--link-color);
}
form>input::placeholder{
    text-transform: capitalize;
}
form>textarea{
    width: 100%;
    height: 12rem;
    margin-top: 10px;
    border-radius: 2px;
    outline: 0;
    padding: 10px;
    border: 1px solid var(--link-color);
}
form>textarea::placeholder{
    text-transform: capitalize;
}
form>button{
    width: 100%;
    height: 3.5rem;
    outline: 0;
    border: 0;
    background: var(--link-color);
    font-size: 1.4rem;
    transition: all 500ms;
    border-radius: 2px;
    color: #fff;
    font-size: 13px;
}
form>button:hover{
    color: #fff;
    background:  rgba(203, 180, 147, 0.928);
}
.footer-wrapper{
    /* background: red; */
    /* justify-content: space-evenly; */
    align-items: center;
    display: flex;
    gap: 10px;
    /* padding: 10px 20px; */
}
.footer-about{
    width: 50%;
}
.head{
    /* background: yellow; */
    width: 60%;
    padding: 10px;
    color: #fff;
}
.head h3{
    text-transform: capitalize;
    color: inherit;

}
.footers-links{
    width: 40%;
    overflow: hidden;
    position: relative;
}
.footers-links h3{
    text-transform: capitalize;
    color: #fff;
    margin-left: 15px;
}
.footers-links ul{
    color: #fff;
    text-transform: capitalize;
    left: 0;
    position: absolute;
}
.footers-links ul li{
    list-style: none;
    margin: 3px;
}
.address-info{
    /* background: pink; */
    padding: 10px;
    text-transform: capitalize;
    color: #fff;
    position: relative;
}
.address-info h3{
    color: inherit;
}
.address-info i{
    margin-right: 10px;
}
.featured-works-wrapper{
    position: relative;
    color: #fff;
    text-transform: capitalize;
}
.featured-works-wrapper h2{
    color: inherit;
    font-size: 3rem;
}
.featured-container{
   display: flex;
   gap: 10px;
   scroll-snap-type: X mandatory;
   scroll-behavior: smooth;
   /* width: 50rem; */
   overflow: hidden;
   /* position: relative; */
}
.featured{
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    /* position: absolute; */
}
.card-content{
    /* width: 30rem; */
    /* height: 120px; */
    background: #000;
    color: #fff;
    overflow: hidden;
}
.card-content img{
    width: 12%;
    height: 120px;
    opacity: .6;
}
.card-texts{
    position: absolute;
    /* background: #000; */
    bottom: -4rem;
    left: 2rem;
    transition: all ease-in-out 500ms;
}
.card-texts h3{
    font-size: 1.3rem;
    color: #fff;
}
.card-texts a{
    background: var(--bg-color);
    color: inherit;
    padding: 3px;
    font-size: .6rem;
    border-radius: 1.3px;
   
}
.card-content:hover .card-texts{
    bottom: 1.8rem;
}
.control-container{
    color: #111;
}
.featured-wrapper{
    width: 100%;
    height: 200px;
    min-height: 200px;
    /* border: 1px solid #d2f653; */
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;

}
.child{
    flex-shrink: 0;
    /* height: 185px; */
    width: 250px;
    /* background: #71eed3; */
    margin: 5px;
    text-align: left;
    /* line-height: 13px; */
    line-clamp: 20px;
    margin-bottom: 5px;
    /* border: 1px solid #fff; */
    /* padding: 10px; */
    overflow: hidden;
    transition: all 500ms ease-in-out;
}
.child:nth-child(even){
    /* background: #91decf; */
}
.child-image{
    width: 250px;
    height: 100px;
    overflow: hidden;
    transition: all 500ms ease-in-out;
    

}
.child:hover .child-image, .child-image img{
   width: 104%;
}
.child-image img{
    width: 100%;
}
.child-content{
    margin-top: 4px;
}
.child-content p{
   font-size: 10px;
}

.child-content a{
    color: #fff;
}
.call-to-action{
    background: url(/assets/img/construction/skyscrapers-1920x1080.jpg);
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-image: fill 0 linear-gradient(#0003, #000);
}
.content{
    text-align: center;
    font-size: 17px;
    padding: 10px;
    color: #fff;
    /* background: red; */
    margin-top: -4%;
}
.content p{
    margin-bottom: 10px;
}
.content a{
    color: #fff;
    text-transform: capitalize;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 10px 20px;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.content a:hover{
    background-color: #fff;
    color: #111;
}

@media screen and (max-width:2560px){
    .service-wrapper{
        /* width: 64.6rem; */
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        padding: 10px;
    }
    .service-content{
        display: flex;
        width: 30rem;
        height: 14rem;
        gap: 5px;
        overflow: hidden;
    }
    
    .service-img{
        object-fit: contain;
        object-position: center;
        width: 12rem;
        height: 12rem;
    }
    .texts h3{
        font-size: 10px;
        color: var(--acent-color);
        margin-top: 3px;
    }
    .texts p{
        font-size: 10px;
        margin-top: 10px;
        /* background: #000; */

    }
}
@media (max-width:600px) {
    .footer-about, .footers-links{
        width: 100%;
    }
    .footer-links{
        width: 100rem;
        /* background: red; */
    }
    .hero-content h2{
        font-size: 2rem;
        color: #fff;
        }
        .hero-content h1{
        font-size: 2.5rem;
        color: #fff;
        }
        .hero-content p{
            color: #fff;
            font-size: .7rem;
        } 
        .wrapper{
            flex-direction: column;
        }
        .stats-wrapper{
            flex-direction: column;
        }
        .glimpse{
            width: 86%;
        }
        .glimpse p{
          text-align: left;  
        }
        .wrapper1{
            flex-direction: column;
        }
        .cont{
            flex-direction: column;
        }
        .cont a{
            left: 2rem;
        }
        .service-wrapper{
            /* flex-direction: column; */
            display: block;
            
        }
        /* .wraps{
            flex-direction: column;
        } */
        .service-content{
            display: flex;
            width: 30rem;
            height: 11rem;
            gap: 5px;
            overflow: hidden;
        }
        .service-img{
            object-fit: contain;
            object-position: center;
            /* width: 12rem;
            height: 1rem; */
        }
        .quote-wrapper{
            flex-direction: column;
        }
        .quote-content-r, .quote-content{
            width: 100%;
        }
        .footer-wrapper{
            flex-direction: column;
        }
        .content a{
            top: 84%;
        }
}
@media (max-width:325px){
    .content a{
        top: 94%;
    }
    .card{
        border: 0!important;
        box-shadow: 0 0 8px #cccccc7c;
        flex-shrink: 0;
        width: 280px ;
        /* left: 50% !important; */
        /* transform: translateX(-50%) !important; */
        position: relative !important;
    }
    .child{
        flex-shrink: 0;
        /* height: 285px; */
        width: 250px;
        margin: 5px;
        text-align: left;
        line-clamp: 20px;
        margin-bottom: 5px;
        /* border: 1px solid #fff; */
        overflow: hidden;
        transition: all 500ms ease-in-out;
    }
    .child-content{
        overflow: hidden;
    }
    .child-content p{
        /* color: #da0d0d; */
        font-size: 10px;
    }
    .child-content a{
        font-size: 10px;
        margin-top: 0;

    }
    .footer-about, .footers-links{
        width: 100%;
        font-size: 10px;
    }
    .footers-links{
        width: 10rem;
        /* background: red; */
        font-size: 12px;
        color: #fff;
    }
    .footers-links a{
        color: #fff;
    }

    .head{
        /* background: yellow; */
        width: 70%;
        padding: 10px;
        color: #fff;
        font-size: 12px;
    }
}